/* write your override styles here */
html body div#wall .tag-1 {
    display: none;
}
  
html body div#wall div#tag-2 {
    display: none;
}
  
html body div#wall div#tag-3[class="slick wicked"] {
    display: none;
}

html body div#wall div#tag-4 {
    display: none;
}

html body div#wall > div.parent div#tag-5.slick {
    background: none;
}

html body div#wall div.parent div:last-child div#tag-6 {
    background: none;
}

html body div#wall div.parent div  #tag-7.slick {
    background: none;
}